<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
    <connectionStrings>
    <add name="DBConnection" connectionString="Data Source= INFISTAT1\SAT;Initial Catalog= SATDB; uid=SAT; Password=CIStoolbMark@123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
  
    <customErrors mode="Off" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages theme="SAT">
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
                
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
        <add name="IISWASOnlyRsaProvider" type="" description="Uses RsaCryptoServiceProvider to encrypt and decrypt" keyContainerName="iisWasKey" cspProviderName="" useMachineContainer="true" useOAEP="false" />
        <add name="AesProvider" type="Microsoft.ApplicationHost.AesProtectedConfigurationProvider" description="Uses an AES session key to encrypt and decrypt" keyContainerName="iisConfigurationKey" cspProviderName="" useOAEP="false" useMachineContainer="true" sessionKey="AQIAAA5mAAAApAAAKjkVz7g4Jyn5pvwUmsSfeSpjugh8yhMNojOnE33kcAZDZvAG7KsoTXnchxdbApRjBKBHPAJVNVNZM7FJAnC6spi1r4iDN1tT405BvkCqxFdjMghcfaTVbhaClc7UG3ixbzqnKEwwo3iz+hX2s9/GEUOmXZy5mM4doG6RVztLYylSqaANSHN3mFHso5+qsdHzcVtGRr07BWHJGoO5PbBQB9ksKBBXi5q0xxK0yYFO3yasySlrHD/yWIvnA6IwuNQv/tzPXiM3vfWJgNDM2I5FAVHXQKKrShDEawTiY7wt1iQ18+wFto/gO62QiHLZHYMfolbkK+QI6q0Y5BA+meK2aw==" />
        <add name="IISWASOnlyAesProvider" type="Microsoft.ApplicationHost.AesProtectedConfigurationProvider" description="Uses an AES session key to encrypt and decrypt" keyContainerName="iisWasKey" cspProviderName="" useOAEP="false" useMachineContainer="true" sessionKey="AQIAAA5mAAAApAAAxdwFI61ixF6u47QjcOZ3wrctPaUDamlCmf4i4D1WlgWb/rUvYtgsvk1FykM/1h3ke/IbdMSjIfGLnES4Kj/V2Dsq6JvnJZ14VcmACjpOUWjZJ7BdrG3glgzd2cJaugS/CPiZ27UciOos1GNLkMwFqW0eQhLMxtnr0c/37izVrDSMy6Og0vL8XMakGynHCrqK7azVXGjpCz5pRY+DLqBdC4Orf1fYyx4To5aQyaOZzCXcv5B+iKPRgfyhgb0EnBB9lBcY2QAPqc3WhuwaHmysPbpwzpmbbGCfzHmSHhxkx8Z6zVBJFmXnpQp5ekK89X3Ct6YYXm/XkFWJMZkM2PQLRw==" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
    <!--<system.webServer>
        <httpProtocol>
            <customHeaders>
              <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload "/>                
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="Content-Security-Policy" value="default-src 'self'; img-src data: 'self'" />
                <add name="Cache-Control" value="no-store" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>-->
</configuration>